* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body, main {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  margin: 80px 20% 0 20%;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  height: 80px;
  width: 160px;
  margin: 40px 0;
  font-family: cursive;
  font-size: 2em;
}

button:active {
  background-color: purple;
}

button:focus {
  outline-style: none;
}
